
.edit-view .editor-only {
    display: block;
}

/* Styles for sheet to print ONLY in editor! */
.sheet {
    box-shadow: 0 0 20px #000;
    margin-top: 30px;
}

.row .delete-row-btn {
    display: none;
}

.row:hover .delete-row-btn {
    display: block;
}

.delete-row-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-image: url(../svg/trash.svg);
    background-size: cover;
    cursor: pointer;
    border-radius: 3px;

    transition: background-color .1s;
}

.delete-row-btn:hover {
    background-color: #e47575;
}

.add-row-btn {
    width: 100%;
    height: 60px;
    margin-top: 30px;

    cursor: pointer;

    background-image: url(../svg/plus-circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d1d1d1;
    border-radius: 3px;

    transition: background-color .1s;
}

.add-row-btn:hover {
    background-color: #78d181;
}

.create-rythm-modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
}

.create-rythm-modal-wrapper.modal-visible {
    display: block;
}

.create-rythm-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
}

.create-rythm-modal h2 {
    text-align: center;
}

.create-rythm-modal p {
    font-size: 18px;
    margin-top: 10px;
}

.preset-selection-container {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100%;
}

.preset-selection-container label {
    width: 100px;
    margin: 0 7px;
    padding: 10px 0;
    background-color: #dde7f8;
    cursor: pointer;
    text-align: center;
}

.preset-selection-container input[type=radio] {
    appearance: none;
}

.preset-selection-container input[type=radio]:checked + label {
    background-color: #528cf0;
}

.create-rythm-modal .buttons-section {
    display: flex;
    justify-content: end;
    width: 100%;
}

.create-rythm-modal .buttons-section button {
    margin: 0 5px;
}