* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.to-print {
    width: 21cm;
    min-height: 29.7cm;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}

.input-label-container {
    position: relative;
    margin-top: 0;
}

.input-label-container input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Indie Flower', cursive;

    /* By default hidden */
    display: none;
}

.input-label-container input.visible {
    display: block;
}

.title * {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.tempo * {
    font-size: 20px;
}

.sheet {
    width: 100%;
    height: 29.7cm;
    padding: 15px;
    background-color: #fff;
}

.sheet:empty {
    display: none;
}

.bar {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-top: 50px;
    padding-left: 60px;
}

.bar[connect-with-next=true]::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 70px;
    width: 25px;
    height: 89px;
    border: 1px solid #777777;
    border-right: none;
}

.beat {
    display: flex;
}

.beat-part {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: flex-start;
}

.beat-part img {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    cursor: pointer;
}

.beat-part[beat-part-type=double] img {
    width: 55%;
    height: 55%;
    top: 25%;
}

.beat-part[beat-part-type=double] img:nth-of-type(2) {
    left: 90%;
}

.beat-part.hidden {
    pointer-events: none;
}

.beat-part.hidden::before {
    border-left: none;
}

.beat-part.hidden::after,
.beat-part.hidden img {
    visibility: hidden;
}

.beat-part[beat-part-type=triplet]::after {
    content: "3";
    position: absolute;
    left: 100%;
    top: -45%;
}

.beat-part[beat-part-type=triplet] img:nth-of-type(2) {
    left: 110%;
}

.beat-part[beat-part-type=triplet] img:nth-of-type(3) {
    left: 170%;
}

.beat-part[beat-part-type=grace] img {
    width: 75%;
    height: 75%;
    top: 15%;
}

/* grace note (pre-note) */
.beat-part[beat-part-type=grace] img:nth-of-type(1) {
    left: 8%;
    top: 0;
    width: 55%;
    height: 55%;
}

.beat-part::before {
    content: "";

    position: absolute;
    left: 48%;
    bottom: 80%;

    font-size: 0;

    /* padding controls size*/
    padding-left: 100%;
    padding-top: 50%;

    border-left: 1px solid #777777;
    border-top: 1px solid #777777;
}

.beat-part:last-child::before {
    border-top: none;
}

.editor-only {
    display: none;
}
