.to-print {
    font-family: 'Indie Flower', cursive;
    width: 21cm;
    height: 29.7cm;
    background-color: #fff;
    margin: auto;
    padding: 15px;
}

* {
    font-size: 24px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}

.tempo {
    font-size: 20px;
}

.sheet {
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
}

.bar {
    display: flex;
}

.bit {
    font-family: 'Montserrat', sans-serif;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    user-select: none;
}

.bit.selected {
    background-color: #a5cfac;
}

.bit img {
    position: absolute;
    /* right: 100%; */
    width: 40px;
    height: 40px;
    margin: 0;
}

.bit::before {
    content: "";

    position: relative;
    left: 45%;
    bottom: 50%;

    font-size: 0;

    /* padding controls size*/
    padding-left: 100%;
    padding-top: 50%;

    border-left: 2px solid #777777;
    border-top: 2px solid #777777;
}

.bit:last-child::before {
    border-top: none;
}

