
.page-not-found-container {
  color: #333;
  text-align: center;
  padding-top: 70px;
}

.page-not-found-container h1 {
  font-size: 80px;
}

.page-not-found-container p {
  margin: 30px 0;
}

.page-not-found-container a {
  color: #3a581b;
}
