
.beat {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

.beat:first-child {
  margin-top: 30px;
}

.beat[beat-type=triplet]::after {
  content: "3";
  font-size: 15px;
  position: absolute;
  left: 30px;
  top: -40px;
}
