
.full-score {
  position: relative;
  display: flex;
  padding-left: 30px;
  margin-top: 40px;
}

.full-score.multi-instruments::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 39px;
  width: 10px;
  height: calc(100% - 52px);
  border: 2px solid #777777;
  border-right: none;
}

.human-bar-number {
  position: absolute;
  left: 5px;
  top: -5px;
  font-size: 20px;
}

@media screen and (max-width: 830px) {
  
  .edit-mode .full-score {
    padding-left: 0;
  }
  
  .edit-mode .full-score.multi-instruments::before {
    left: -10px;
  }

}
