
.inject-bar-btn {
  position: absolute;
  right: -9px;
  bottom: 0;
  width: 20px;
  height: calc(100% + 17px);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
}

.inject-bar-btn:hover {
  background-color: #78d18165;
  background-image: url(/assets/svg/ui/plus-circle.svg);
}

.full-score > .inject-bar-btn {
  left: 20px;
}

.full-score > .inject-bar-btn::after {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 0;
  height: calc(100% - 17px);
  margin-left: 5px;
  border-right: 2px dashed #666;
}
