
.note {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-sizing: content-box;
  margin-right: 10px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.note.empty {
  background-image: url(/assets/svg/dash.svg);
}
.note.bass {
  background-image: url(/assets/svg/bass.svg);
}
.note.tone {
  background-image: url(/assets/svg/tone.svg);
}
.note.slap {
  background-image: url(/assets/svg/cross.svg);
}
.note.ghost {
  background-image: url(/assets/svg/ghost.svg);
}

.note::before {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 80%;

  height: 22px;

  font-size: 0;

  border-left: 1px solid #777777;
  border-top: 3px solid #777777;
}

.note:hover {
  background-color: #a5cfac;
}

.note:last-child::before {
  border-top: none;
}

.beat[beat-type=single] .note::before {
  height: 25px;
}

.beat[beat-type=double] .note {
  margin-right: 7px;
}
.beat[beat-type=double] .note::before {
  width: 27px;
}

.beat[beat-type=triplet] .note {
  margin-right: 3px;
}
.beat[beat-type=triplet] .note::before {
  width: 23px;
}

.beat[beat-type=quartet] .note {
  margin-right: 0;
}
.beat[beat-type=quartet] .note::before {
  width: 20px;
}

.beat[beat-type=grace] .note:nth-of-type(1) {
  left: 16%;
  top: 0;
  width: 50%;
  height: 50%;
}