
.note {
  position: relative;
  min-width: 30px;
  height: 30px;
  cursor: pointer;
}

.note img {
  width: 100%;
  height: 100%;
}

.note::before {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 80%;

  width: 30px;
  height: 25px;

  font-size: 0;

  border-left: 1px solid #777777;
  border-top: 3px solid #777777;
}

.note:last-child::before {
  border-top: none;
}

.beat[beat-type=double] .note {
  top: 23%;
}

.beat[beat-type=double] .note:nth-of-type(2) {
  left: 90%;
}

.beat[beat-type=triplet] .note {
  top: 24%;
}

.beat[beat-type=triplet] .note:nth-of-type(2) {
  left: 80%;
}

.beat[beat-type=triplet] .note:nth-of-type(3) {
  left: 110%;
}

.beat[beat-type=grace] .note {
  top: 15%;
}

/* grace note (pre-note) */
.beat[beat-type=grace] .note:nth-of-type(1) {
  left: 16%;
  top: 0;
  width: 50%;
  height: 50%;
}