
.control-panel,
.bottom-panel {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  background-color: #fff;
  border-top: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.control-panel > *,
.bottom-panel > * {
  width: 100%;
  display: flex;
  align-items: center;
}

.copy-paste-section,
.undo-redo-section,
.control-panel {
  /* Hide on desktop, show on mobile */
  display: none;
}

.exporting-section {
  justify-content: flex-end;
}

@media screen and (max-width: 830px) {
  
  .control-panel > *,
  .bottom-panel > * {
    width: auto;
  }

  .exporting-section {
    /* On mobile we show exporting section in hamburger menu */
    display: none;
  }

  .bottom-panel {
    /* border-top: 1px solid #aaa; */
    border-top: none;
  }

  .control-panel {
    display: flex;
    bottom: 50px;
  }

  .control-panel.disabled::after {
    content: "";
    display: block;
    background-color: #fff;
    opacity: .5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .beat-type-counter {
    font-size: 32px;
    width: 22px;
    text-align: center;
  }

  .copy-paste-section,
  .undo-redo-section {
    display: flex;
  }

}

@media screen and (max-width: 320px) {

  .control-panel,
  .bottom-panel {
    padding: 0 5px;
  }
  
}