
.export-section {
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin: 30px auto;
}

.export-link-container {
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.copy-rhythm-btn {
  min-width: 32px;
  height: 36px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-rhythm-btn img {
  width: 24px;
}

.copy-confirmation-tost {
  width: 100%;
  text-align: center;
  padding: 6px;
  position: absolute;
  top: 100%;
  opacity: 0;
  z-index: -1;
  background-color: #4b70f4;
  color: #fff;
  border-radius: 0 0 3px 3px;
  transform: translateY(-50%);

  transition: all .2s;
}

.copy-confirmation-tost.visible {
  opacity: 1;
  transform: translateY(0);
}

.copy-confirmation-tost p {
  margin: 0 !important;
}

.qr-code-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.show-qr-code-btn {
  box-sizing: border-box;
  background-color: #fff;
  color: #222;
  font-size: 14px;
  min-width: 0;
  display: flex;
  gap: 4px;
  align-items: center;
  border: 1px solid #222;
}

.show-qr-code-btn:hover {
  border: 1px solid #222;
}

.show-qr-code-btn img {
  width: 16px;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
}