.selection-handle {
  position: absolute;
  width: 36px;
  height: 36px;
  z-index: 100;
  padding-bottom: 6px;
  padding-left: 6px;
  cursor: grab;
  touch-action: none;
}

.selection-handle img {
  width: 100%;
}

.selection-handle-start {
  transform: scaleX(-1);
}
