@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sheets-container {
  width: 21cm;
  min-height: 29.7cm;
  margin: auto;
  margin-top: 100px;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
