
.sheets-container {
  width: 21cm;
  min-height: 29.7cm;
  margin: auto;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

@media screen and (max-width: 830px) {
  
  .sheets-container {
    width: 100%;
    min-height: 0;
    height: max-content;
  }

}
