
.tips-panel {
  height: 500px;
  width: 340px;
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-radius: 0 3px 0 0;
  box-shadow: 0 0 20px #000;
  z-index: 50;
}

.tips-panel.hidden {
  display: none;
}

.tips-panel-hide-btn {
  position: absolute;
  bottom: 100%;
  left: 10px;
  min-width: 70px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}

.key-tips-container {
  padding: 10px; 
  width: 100%;
}

.key-tips-container h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.key-tips-container section {
  margin-bottom: 20px;
}

.tips-list {
  display: flex;
  flex-wrap: wrap;
}

.key-tip {
  position: relative;
  width: max-content;
  min-width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 2px 5px;
  font-size: 20px;
}
.key-tip:last-child {
  margin: 0;
}

.key-tip img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 60%;
}

.key-tip.double img {
  left: 60%;
}

.key-tip.double img:nth-of-type(1) {
  left: 25%;
}

.key-tip.triplet img {
  width: 25px;
  top: 45%;
  left: 72%;
}

.key-tip.triplet img:nth-of-type(1) {
  left: 8%;
}

.key-tip.triplet img:nth-of-type(2) {
  left: 40%;
}

.key-tip.quartet img {
  width: 20px;
  top: 45%;
  left: 0;
}

.key-tip.quartet img:nth-of-type(2) {
  left: 25%;
}

.key-tip.quartet img:nth-of-type(3) {
  left: 50%;
}

.key-tip.quartet img:nth-of-type(4) {
  left: 75%;
}

.key-tip p {
  font-size: 14px;
  padding-left: 3px;
}
